/* ||RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
input,button,textarea{
    font-family: inherit;
    background: inherit;
    outline: none;
    color: inherit;
}


/* || GENERAL STYLES */
:root{
    /* ||COLORS */
    --Body-Background-Color:#302C42;
    --white-text-Color:#fff;
    --purple-Text-Color:#C0B7E8;
    --btn-text-color:#343045;
}
html{
    scroll-behavior: smooth;
}


body{
    background-color: var(--Body-Background-Color);
    color: var(--white-text-Color);
    font-family: "Montserrat","sans-serif";
    font-size: 16px;
    line-height: 1.4; 

    overflow-x: hidden;
}


/* || HERO STYLES */

.hero .container .hero-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px; 
    text-align: center;

}
.hero .hero-header div{
    display: flex;
    align-items: center;
}
                      /*This has to do with the mobile screen*/
.hero .hero-header div.hamburger-container{
    display: none;
}
.hero .hero-header img{
    width: 50%;
    height: auto;
}
.hero .hero-header .header-text{
    color: var(--purple-Text-Color);
    font-size: 2rem;
    transform: scale(.6, 2);
    margin-left: -15px;
}
.hero nav.primary-nav{
    flex-grow: 1;
}
.hero nav.secondary-nav{
    flex-grow: 1;
}
.hero .container nav.primary-nav ul{
    margin-left: 3rem;
    display: flex;
    justify-content: space-around;
}

.hero .container nav.secondary-nav ul{
    display: flex;
    justify-content: space-around;
    margin-left: 50px;
}

.hero-footer{
    display: flex;
    justify-content: space-around;
    border-radius: 3.5rem;
    background-image: radial-gradient(#3A3456,#2A263C,#211E2E);
    padding: 2rem;

    position: relative;
}

.hero-footer button{
    position: absolute;
}

.hero-footer button:first-child{
    top: 38%;
    left: 8px;
}

.hero-footer button:nth-child(2){
    top: 38%;
    right: 8px;
    
}

.hero-footer span{
    display: flex;
    gap: 0.5rem;
    border-right: 1px solid;
    padding-right: 1rem;
    align-items: center;
}

.hero-footer span:last-child{
    border: none;
}
.hero .hero-footer span h3{
    margin-bottom: 0.5rem;
}
.hero .hero-footer span address,
.hero .hero-footer span a
{
    font-style: normal;
    font-weight: 300;
}
/* || HERO BODY SECTION  */

.hero-body{
    padding: 5rem 0;
    display: flex;
    justify-content: space-between;
}

.hero-body .hero-image {
    display: flex;
    justify-content: flex-end;
}

.hero .container .hero-footer button{
    display: none;
}

.hero-body .hero-image img{
    width: 80%;
    height: auto;
    filter: drop-shadow(-6px 6px 1rem #100a0a);
    filter: drop-shadow(6px -6px 1rem #0a0707);

}
.hero-body .hero-body-desc{
    max-width: 45%;
}
.hero-body .hero-body-desc h2,
.hero-body .hero-body-desc p
{
    margin-bottom: 2rem;
   
}
.hero-body .hero-body-desc>*:last-child{
    display: flex;
}


.hero-body .hero-body-desc>*:last-child a.btn{
    align-self: center;
    padding: 1rem;
}

/* ||ABOUT SECTION */

.about .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}
.about .about-imageContainer{
    order: -1;
}
.about .about-imageContainer img{
    width:80%;
    height: auto;
}
.about .about-intro-p{
    order: -2;
}
.about .about-header{
    order:-3;
}

.about .about-section{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.about .about-section header{
    margin-bottom: 4rem;
    width: 35%;
}

.about .about-section p{
    margin-bottom: 2rem;
}
.about .about-section a{
    align-self: flex-start;
}


/* || SERVICES */

.services .container{
    display: flex;
    flex-flow: row wrap;
}
.services .container header,
.services .container p{
    flex-basis: 50%;
}

.services .container .service-card-containers{
    display: flex;
    margin: 4rem 0 0;
    gap: 1rem;
}
.services .container .service-card-containers>.btn-white{
    display: none;
}
.profile-pic img{
   width: 100%;
   height: auto;
   border-radius: 50%;
}
.services .card h3{
    padding-bottom: 0.5rem;
    border-bottom: 0.5px solid #cccccc41;
}

.services .card .btn{
    padding: 0.5rem 2rem;
}

/* ||TECH */
.tech .container{
    margin-bottom: 1rem;
}

.tech .container>div:first-child{
    font-size: 2rem;
    background-image: url("../assets/rodnae1.png");
    background-size:cover;
    height: 300px;


    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    border-radius: 10rem ;
    text-align: center;
}
.tech .container span.header-break{
    display: block;
}

.tech .container span.circle-bg{
    position: absolute;
    bottom: -35px;
    left: 50%;
}
.tech .container .circle-bg span{
    background-image:linear-gradient(#C0B7E8,#8176AF) ;
    padding: 1rem;
    border-radius: 50%;
    color: #cca;
    font-size: 1.5rem;
}

.tech .container .tech-flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.tech .container .tech-flex-container>.btn-white{
    position: absolute;
    display: none;
}

/* || PROCESS (HOW TO) SECTION  STYLES*/
.process .container{
    display: flex;
    flex-wrap: wrap;
}
.process .container .process-header,
.process .container p{
    flex-basis: 50%;
}
.process .container .process-flex-container{
    flex-grow: 1;
    margin-top: 10rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    position: relative;
}
.process .container .process-flex-container button.btn-white{
    position: absolute;
    display: none;
}

.process .process-flex-container>div{
    text-align: center;
}
.process .container .process-flex-container>div>span{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    text-align: left;
    

    font-weight: 600;
    width: 75%;
    line-height: 1.5;
    margin-top: 4rem;
}
/* || JOIN SECTION */
.join .container{
    padding: 5rem;
    border-radius: 3rem;
    background-image: radial-gradient(#403A5F,#211E2E);
}

.join .container h2{
    text-align: center;
    padding-bottom: 1rem;
    width: 20%;
    margin:  auto auto 5rem;
    border-bottom: 1px solid #ccc;
}
.join .container .join_form{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 20px;
}


.join .container .join_form input[name="firstName"],
.join .container .join_form input[name="lastName"],
.join .container .join_form input[name="email"],
.join .container .join_form input[name="phoneNumber"]{
    flex-basis: 48%;
    margin-bottom: 2rem;
}

.join .container .join_form input[name="subject"],
.join .container .join_form textarea{
    flex-basis: 100%;
    margin-bottom: 2rem;
}

.join .join_form input,
.join .join_form textarea{
    border: 3px solid #fff;
    padding: 1rem;
    border-radius: 2rem;
    resize: none;
}

.join .join_form textarea{
    height: 20vh;
}

.join .container button.btn{
    margin: auto;
    padding:1.3rem;
}


/* MAIN PAGE FOOTER */
.footer .footer-flex{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;

    font-weight: 600;
    flex-wrap: wrap;
}

.footer .footer-flex>div{
    padding-inline: 3rem;

    display: flex;
    align-items: center;
}

.footer .footer-flex>.nav{
    border-left: 2px solid;
    
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    height: min-content;
}



.footer .footer-flex>.nav ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer .footer-flex > .nav:last-child{
    display: block;
    padding-left: 2rem;
}

.footer .footer-flex>.nav:last-child ul{
    flex-direction: row;
    gap: 1.5rem;
    margin: 2rem 0;
}

.footer .footer-flex>.nav:last-child ul a{
    background-color: #211E2E;
    display: inline-block;
    padding: 0.5rem;
    border-radius: 50%;
}

.footer a{
    color: #fff;
}
.footer a.btn-blue.btn{
    color: var(--btn-text-color);
}
.footer  p{
    margin-top: 2px;
    text-align: center;
}

/* || UTILITY */


.wavy{
    position: absolute;
    top: -80px;
    right: -170px;

    z-index: -4;
}
.process-span-numbers{
    font-size: 3rem;
    padding: 2rem;
    background-image:linear-gradient(#C0B7EB,#8176AF) ;
    border-radius: 50%;  
}
.card{
    background-image: radial-gradient(#433D60,#211E2E);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.4rem;
    line-height: 1.5;
    gap: 1rem;
}
.circle-bg{
   background: #433D60;
   padding: 0.7rem;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.header-utility{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-size: 1.5rem;
    height: 40px;
}

.header-break{
    font-weight: 200;
    font-size:1.5rem ;
    margin-top: 1.4rem;
    letter-spacing: 2.5px;
    word-spacing: 3px;
}

.container{
    max-width: min(80vw,1200px);
    margin: 0 auto 5rem;
}

.white-text{
    color: var(--white-text-Color);
    font-weight: 700;
}

.btn{
    border: 1px solid;
    padding: 10px;
    border-radius: 1.9rem;
}

.btn-blue{
    background-color: #C0B7E8;
    color: var(--btn-text-color);
    font-weight: bold;
}

.btn-white{
    padding: 4px;
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 1.5rem;
}

.text-lg{
    font-size: 2.3rem;
}

.text-md{
    font-size: 1.6rem;
}

.text-center{
    text-align: center;
}

.hamburger-container{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.hamburger-button
{
    border: 2px solid;
    width: 2rem;
}
.hamburger-button:nth-child(2){
    width: 1.8rem;
    margin: 10px 0;
}


/* || MEDIA QUERIES */


/* ||MEDIA QUERY FOR SMALL SCREEN DEVICES */

@media (max-width:576px) {
    /* HERO STYLES */

    .hero .hero-header div.hamburger-container{
        display: block;
    }

    .hero .hero-body{
        flex-direction: column;
        align-items: center;
        padding: 3rem 0;
        gap: 2rem;
    }

    .hero .hero-body .hero-image{
        order: -1;
        justify-content: center;
    }

    .hero .hero-body .hero-image img{
        width:100%;
    }
    .hero .hero-body .hero-body-desc{
        max-width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .hero .hero-body .hero-body-desc>div>a.btn{
        padding: 1rem 3rem;
    }
    
   /* HERO FOOTER */
    .hero-footer span{
        padding: 0;
        border: 0;
    }

    .hero .hero-footer button.btn-white{
        display: block;
    }

    /* ||   ABOUT STYLES */
    .about .container{
        grid-template-columns: 1fr;
        justify-content: center;
        gap: 1.5rem;
    }

    .about .about-header{
        order: -3;
        text-align: center;
    }
    .about .about-header .header-utility{
        justify-content: center;
    }
    .about .about-imageContainer{
        order: -2;

    }

    .about .about-imageContainer{
        width: 100%;
        height: auto;
        
        display: flex;
        justify-content: center;
    }

    .about .about-section a{
        justify-content: flex-start;
        align-self: center;
        padding: 1rem 3rem;
    }

    /* || SERVICES */

    .services .container{
        flex-flow: column nowrap;
        align-items: center;
    }

    .services .container header{
        flex-basis: 100%;
        align-self: center;
        text-align: center;

        flex-grow: 1;
    }
    
    .services .container .service-card-containers{
        justify-content: center;
        margin-top: 2rem;

        position: relative;
    }

    .services .container .service-card-containers>.btn-white{
        display: block;
        position: absolute;
    }

    .services .container .service-card-containers>.btn-white:nth-child(1){
        left: 0.9rem;
        top: 45%;
        padding: 10px;
    }

    .services .container .service-card-containers>.btn-white:nth-child(2){
        right: 0.9rem;
        top: 45%;
        padding: 10px;
    }

    .services .container .service-card-containers .card{
        flex-basis: 85%;
    }

    /* || TECH */
    .tech .container>div:first-child{
        height: 20%;
        border-radius: 5rem;
        font-size: 1rem;
        padding: 2rem;

        background-position: 20% top;
    }

    .tech .container>div:first-child .header-break{
        font-size: 1rem;
    }

    .tech .container .tech-flex-container{
        justify-content: center;
    }

    .tech .container .tech-flex-container button.btn-white{
        display: inline;
    }

    .tech .container .tech-flex-container>button.btn-white:nth-child(1){
        left: -15px;
        top: 45%;
        padding: 10px;
    }

    .tech .container .tech-flex-container>button.btn-white:nth-child(2){
        right: -15px;
        top: 45%;
        padding: 10px;
    }


    .tech .container span.circle-bg{
        display: none;
    }

    /* || PROCESS SECTION */
    .process .container{
        text-align: center;
    }
    .process .container .process-header span.header-utility{
        display: inline-block;
    }
    .process .container .process-header{
        flex-basis: 100%;
    }

    .process .container .process-flex-container{
        margin-top: 4rem;
        justify-content: center;
    }

    .process .container .process-flex-container button.btn-white{
        position: absolute;
        display: inline;
    }

    .process .container .process-flex-container>button.btn-white:nth-child(1){
        left: 0;
        top: 45%;
        padding: 10px;
    }

    .process .container .process-flex-container>button.btn-white:nth-child(2){
        right: 0;
        top: 45%;
        padding: 10px;
    }
    .process .container .process-flex-container>div>span{
        margin: 4rem auto 0;
    }
    /* JOIN AND THE FORM SECTION */
    .join .container{
        padding: 1rem;
    }

    .join .container h2{
        width: 50%;
        padding: 0;
        margin: 2rem auto;
    }
    .join .container p{
        text-align: center;
        margin-bottom: 1rem;
    }

    .join .container .join_form input[name="firstName"],
    .join .container .join_form input[name="lastName"],
    .join .container .join_form input[name="email"],
    .join .container .join_form input[name="phoneNumber"]{
        flex-basis: 100%;
        margin-bottom: 0;
    }


    .join .container .join_form input[name="subject"],
    .join .container .join_form textarea{
        margin-bottom: 0;
    }

    .join .container button.btn{
        width: 100%;
        margin: 2rem 0;
    }


    /* MAIN PAGE FOOTER */
    .footer .footer-flex{
        align-items: center;
        flex-direction: column;
        gap: 1rem;
        font-weight: 400;
        font-size: 10px;
    }

    .footer .footer-flex>.nav:last-child{
        display: flex;
        flex-flow: column nowrap;
        padding-left: 0;
    }


    .footer .footer-flex>.nav:last-child h2{
        text-align: center;
    }

    .footer .footer-flex>.nav:last-child ul{
        justify-content: space-between;
        gap: 0.45rem;
    }

    .footer .footer-flex>.nav:last-child ul i{
        font-size: 1.3rem;
    }

    .footer .footer-flex>.nav:last-child a.btn{
        display: block;
        width: 80%;
        text-align: center;
        padding: 1rem;
    }
    .footer .footer-flex>.nav{
        display: none;
        border-left: 0;
    }




    /* UTILITY  STYLES*/
    .container{
        max-width: 90%;
        margin: 0 auto 3rem;
    }

    .container .displayNone{
        display: none;
    }
    .text-lg{
        font-size: 1.8rem;
    }
    .header-break{
        font-size: 1.6rem;
    }


}